.componentJournal {
    background-color: #F0F2F5;
    padding:24px;
    .operation {
        background: #fff;
        padding: 24px;
        position: relative;
        min-height: 480px;

        .operation_select {
            margin-right: 20px;
        }

        .operation_list {
            margin-top: 20px;

        }

        .operation_search {
            margin-right: 20px;
        }

        .pagination {
            position: absolute;
            bottom: 24px;
            right: 24px;
        }
    }
}