.discountTable {
    padding: 24px;

    .discount_item {
        padding: 24px;
        background: #fff;
    }
}

.customModal {
    :global {
        .ant-modal-body {
            height: 400px;
        }
    }

    .addModal {
        h2 {
            text-align: center;
        }

    }
}