
.liveparameter {
    padding: 24px;
    background-color: #F0F2F5;

    .explanation {
        background-color: #fff;
        padding: 24px;
        .all_concurrency,
        .single_concurrency
         {
            display: flex;
    
            .concurrency_item {
                width: 200px;
                text-align: right;
                margin-right: 20px;;
            }
        }
    }
}


   